<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Real Nice Dragons</title>
    <link rel="stylesheet" href=".../public/css/main.css" media="screen" type="text/css">
</head>
<header>
    <h1>Real Nice Dragons</h1>
    <nav>
        <a href="/customers">Customers</a>
        <a href="/products">Products</a>
        <a href="/suppliers">Suppliers</a>
        <a href="/product-types">Product Types</a>
        <a href="/sales">Sales</a>
    </nav>
</header>
<body>

    {{{body}}}

</body>
</html>