<!-- index.hbs -->
<section>
    <article>
        <h2>Welcome to Real Nice Dragons!</h2>
        <p>
            This page will give you a brief overview of each of the pages that you can navigate to from this home
            page.
        </p>
    </article>
    <article>
        <h3>Customers Page</h3>
        <p>
            This page allows you to view all of the current customer data. It will also enable you to add a new customer. 
        </p>
        <h3>Products Page</h3>
        <p>
            This page allows you to view all of the current product data. It will also enable you to add a new product. 
        </p>
        <h3>Suppliers Page</h3>
        <p>
            This page allows you to view all of the current supplier data. It will also enable you to add a new supplier. 
        </p>
        <h3>Product Types Page</h3>
        <p>
            This page allows you to view all of the current product type data. It will also enable you to add a new product type. 
        </p>
        <h3>Sales Page</h3>
        <p>
            This page allows you to view all of the current sales data. It will also enable you to add a new sale, delete a sale, update the date of a sale, or update the customer of a sale. 
        </p>
        <h3>Sales Details Page</h3>
        <p>
            This page allows you to view all of the current transactional data. It will also enable you to add a new transaction to a sale. 
        </p>
    </article>
</section>
<h3></h3>