/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */

@import url(//fonts.googleapis.com/css?family=Roboto);

@import url(//fonts.googleapis.com/css2?family=Lora);
          

/*   ----- Variables  -----  */
:root {
    --purpledragon: rgba(83, 4, 77, 1);
    --purpledragon50: rgba(83, 4, 77, .50);
    --purpledragonlight: rgba(178, 76, 173, 1);
    --purpledragonlight75: rgba(178, 76, 173, .75);
    --purpledragonlight25: rgba(178, 76, 173, .25);
    --purpledragondark: rgba(44, 3, 37, 1);
    --purpledragondark50: rgba(44, 3, 37, .50);
    --purpledragondark10: rgba(44, 3, 37, .10);
    --dragonsblood: rgba(197, 74, 80, 1);
    --greenback: rgba(0, 200, 150, 1);
    --toothandnail: rgba(131, 114, 127, 1);
    --charcoal: rgba(51, 51, 51, 1);
    --charcoal10: rgba(51, 51, 51, .10);
    --eggshell: rgba(253, 253, 253, 1);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    color:var(--charcoal);
    font-family: 'Roboto', sans-serif; /* Define with at least one font name and its related generic family name.*/
    margin-top: 150px;
    /* margin:0 auto; */
    padding:0;
    /* max-width: 1100px; */
    min-width: 700px;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    background-color:var(--eggshell);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; 
    color:var(--purpledragon);
    font-family: 'Lora', serif;
    margin:0px;
    padding: 25px;
    max-width: 1200px;
    border-style: none;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px var(--purpledragondark);
  }

  header * {
    display: inline;}

  header li {
    margin: 20px;
  }


  .logo {
    width: auto;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
  }

  main {
    background-color:var(--eggshell);
    color:var(--purpledragondark);
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding: 25px;
    max-width: 1200px;
    border-style: none;
  }
  section {}
    article {}
      #topic1 {}
      #topic2 {}
  div {}
  aside {}
  footer {
    background-color:var(--greenback);
    color:var(--eggshell);
    font-family: 'Roboto', sans-serif;
    margin-top:10px;
    padding: 25px;
    max-width: 1200px;
    border-style: none;
    text-align: center;
  }
  
  /* ----- Anchors ----- Text links */
  a {color:var(--purpledragonlight);}
  a:link {}
  a:hover {}
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  .navbar {
    overflow: hidden;
    width: 100%;
    /* background-color: var(--purpledragondark10); */
  }
  
  /* Style the links inside the navigation menu */
  .navbar a {
    float: left;
    display: block;
    color: var(--purpledragon);
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px; 
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: var(--purpledragon);
    color: var(--eggshell);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--purpledragon);
  }

  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {} 
  h1 {color:var(--purpledragonlight);
  text-align:center;
  font-weight:bold;
  font-size: 40px;
}
  h2 {color:var(--greenback);}
  h3 {color:var(--purpledragonlight);}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    overflow: hidden;
    max-width: 700px;
}

thead tr {
  background-color:var(--greenback);
  color: #ffffff;
  text-align: left;
  font: 'Lora', serif;
}

th, td {
    padding: 22px 25px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr:last-of-type {
  border-bottom: 2px solid var(--greenback);
}

tbody tr.active-row {
  font-weight: bold;
}
 
    tr:nth-child(even) td {background-color:var(--purpledragondark10);}
    tr:nth-child(odd) td {background-color:var(--eggshell);}
  
  
  /*  ----- Form ----- */
  form {}
  fieldset {
   border: 1px solid var(--purpledragon);    
   margin-top: 5px; 
   padding: 10px;  
  }
    legend {
      color: var(--purpledragondark);
      font-size: 20px;
    }
  label {
    display:block;
    margin-top:3%;
  }
    button {
      font-size:110%;
      padding:2%;
      font-family:inherit;
      background-color: var(--purpledragon);
      color: var(--eggshell);
    }
    input {
      font-size:115%;
      padding:2%;
      font-family:inherit;
    }
    input::placeholder {
      color:var(--charcoal);
      font-size:80%;
  }
    output {}
    meter {}
    progress {}
    select {
      font-size:110%;
      padding:1%;
      font-family:inherit;
    }
      optgroup {}
      option {}
    textarea {
      font-size:115%;
      padding:2%;
      font-family:inherit;
      max-width: 600px;
      min-width: 300px;
      height: 200px;
      border: solid;
    }
    :focus{
      background-color:var(--eggplant25);
  }
  *:required {
    border:2px solid green;
}

label.required:after {
  content:" *";
  color:red;
}
  
  /* ----- Media ----- */
  figure {
    width: 320px;
    margin:.75%;
    padding:0;
    border:1px solid var(--purpledragon);
    background-color: var(--eggshell);
  }
  img {
    width:100%;
    background-color: var(--eggshell);
  }
  figcaption {
    display:block;
    padding:5px;
    color:var(--eggplant);
    background-color: var(--eggshell);
  }
  .gallery { 
    display: flex;
    flex-flow: row wrap;
  }
  .gallery figure {
    width: 320px;
    margin:.75%;
    padding:0;
    border:1px solid var(--purpledragon);
    background-color: var(--eggshell);
  }
  .gallery img {
    width:100%;
    background-color: var(--eggshell);
  }
  .gallery figcaption {
    display:block;
    padding:5px;
    color:var(--eggplant);
    background-color: var(--eggshell);
  }

  .image-gallery-description {
    left: 30% !important;
    bottom:0 !important;
  } 

  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {}

  .ordericons {
    display:flex;
    justify-content:space-between;
    margin: 0 auto;
    width: 100px;
    font-size:110%;
    font-weight:500;
    padding: 0 4%;
    cursor:grab;
  }
  
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
